APP_NAME=bot-service
ENV=local

TELEGRAM_BOT_TOKEN=ваш токен

JWT_SECRET=your_secret_key
JWT_ALG=HS256

REDIS_URL=redis://localhost:6379/0
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

OPENROUTER_API_KEY=ваш токен
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=stepfun/step-3.5-flash:free
OPENROUTER_SITE_URL=https://example.com
OPENROUTER_APP_NAME=bot-service